<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="view_partner_form" model="ir.ui.view">
        <field name="name">res.partner.view.form.inherit.whatsapp.redirect</field>
        <field name="model">res.partner</field>
        <field name="inherit_id" ref="base.view_partner_form"/>
        <field name="arch" type="xml">
            <div name="button_box" position="inside">
                <button name="open_whatsapp" string="Whatsapp" type="object" class="oe_stat_button" icon="fa-whatsapp"/>
            </div>
        </field>
    </record>
</odoo>